# For Q2

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# df = pd.read_csv('http://bit.ly/kaggletrain')
df = pd.read_csv("./titanic.csv")
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [3]:
print("DataFrame Information：")
print(df.info())

DataFrame Information：
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     1309 non-null   int64
 2   Pclass       1309 non-null   int64
 3   Name         1309 non-null   object
 4   Sex          1309 non-null   int64
 5   Age          1309 non-null   float64
 6   SibSp        1309 non-null   int64
 7   Parch        1309 non-null   int64
 8   Ticket       1309 non-null   object
 9   Fare         1308 non-null   float64
 10  Cabin        295 non-null    object
 11  Embarked     1307 non-null   object
 12  Sex_Code     1309 non-null   int64
dtypes: float64(2), int64(7), object(4)
memory usage: 133.1+ KB
None

In [2]:
df['Sex_Code'] = df['Sex'].map({'female':1, 'male':0}).astype('int')
df['Sex'] = df['Sex_Code']
df['Age'] = df['Age'].fillna(df['Age'].mean())

df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_Code
0,1,0,3,"Braund, Mr. Owen Harris",0,22.000000,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.000000,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",1,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.000000,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",0,35.000000,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,0,3,"Spector, Mr. Woolf",0,29.881138,0,0,A.5. 3236,8.0500,NaN,S,0
1305,1306,1,1,"Oliva y Ocana, Dona. Fermina",1,39.000000,0,0,PC 17758,108.9000,C105,C,1
1306,1307,0,3,"Saether, Mr. Simon Sivertsen",0,38.500000,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,0
1307,1308,0,3,"Ware, Mr. Frederick",0,29.881138,0,0,359309,8.0500,NaN,S,0
1308,1309,0,3,"Peter, Master. Michael J",0,29.881138,1,1,2668,22.3583,NaN,C,0

In [4]:
df['SibSp'] = df['SibSp'].astype('int')
df['Parch'] = df['Parch'].astype('int')

In [5]:
# add 2 columns
X = df[["Pclass", "Sex", "Age", "SibSp", "Parch"]]
y = df["Survived"]

In [6]:
# Logistic Regression
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
clf.fit(X,y)

Jack = clf.predict([[3, 0, 20.0, 0, 0]])
print("Jack", Jack)
Rose = clf.predict([[1, 1, 17.0, 0, 1]])
print("Rose", Rose)

Jack [0]
Rose [1]

/Users/zoungming/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(
/Users/zoungming/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [7]:
# K-NN
from sklearn import neighbors
clf = neighbors.KNeighborsClassifier()
clf.fit(X,y)

Jack = clf.predict([[3, 0, 20.0, 0, 0]])
print("Jack", Jack)
Rose = clf.predict([[1, 1, 17.0, 0, 1]])
print("Rose", Rose)

Jack [0]
Rose [1]

/Users/zoungming/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(
/Users/zoungming/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
/Users/zoungming/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(
/Users/zoungming/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [8]:
# SVC
'''Unique one'''
from sklearn import svm
clf = svm.SVC()
clf.fit(X,y)

Jack = clf.predict([[3, 0, 20.0, 0, 0]])
print("Jack", Jack)
Rose = clf.predict([[1, 1, 17.0, 0, 1]])
print("Rose", Rose)

Jack [0]
Rose [0]

/Users/zoungming/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(
/Users/zoungming/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

In [9]:
# Gaussian Naive bayes
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(X,y)
Jack = clf.predict([[3, 0, 20.0, 0, 0]])
print("Jack", Jack)
Rose = clf.predict([[1, 1, 17.0, 0, 1]])
print("Rose", Rose)

Jack [0]
Rose [1]

/Users/zoungming/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(
/Users/zoungming/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

In [10]:
# Multinomail Naive bayes
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(X,y)

Jack = clf.predict([[3, 0, 20.0, 0, 0]])
print("Jack", Jack)
Rose = clf.predict([[1, 1, 17.0, 0, 1]])
print("Rose", Rose)

Jack [0]
Rose [1]

/Users/zoungming/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(
/Users/zoungming/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(

In [11]:
# Decision Tree
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf.fit(X,y)

Jack = clf.predict([[3, 0, 20.0, 0, 0]])
print("Jack", Jack)
Rose = clf.predict([[1, 1, 17.0, 0, 1]])
print("Rose", Rose)

Jack [0]
Rose [1]

/Users/zoungming/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(
/Users/zoungming/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [12]:
# Random Forest
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.fit(X,y)

Jack = clf.predict([[3, 0, 20.0, 0, 0]])
print("Jack", Jack)
Rose = clf.predict([[1, 1, 17.0, 0, 1]])
print("Rose", Rose)

Jack [0]
Rose [1]

/Users/zoungming/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
/Users/zoungming/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [14]:
! pip install xgboost

Collecting xgboost
  Downloading xgboost-2.0.3-py3-none-macosx_10_15_x86_64.macosx_11_0_x86_64.macosx_12_0_x86_64.whl (2.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.2/2.2 MB 1.9 MB/s eta 0:00:0000:0100:010m
Requirement already satisfied: numpy in /Users/zoungming/opt/anaconda3/lib/python3.9/site-packages (from xgboost) (1.21.5)
Requirement already satisfied: scipy in /Users/zoungming/opt/anaconda3/lib/python3.9/site-packages (from xgboost) (1.9.1)
Installing collected packages: xgboost
Successfully installed xgboost-2.0.3

In [15]:
# XGBoost
from xgboost.sklearn import XGBClassifier
clf = XGBClassifier()
clf.fit(X,y)
two = {"Pclass":[3,1], "Sex":[0,1], "Age":[20.0,17.0], "SibSp":[0,0], "Parch":[0,1]}
df1 = pd.DataFrame(two)

Jack = clf.predict(df1.iloc[0:1])
print("Jack", Jack)
Rose = clf.predict(df1.iloc[1:2])
print("Rose", Rose)

Jack [0]
Rose [1]

- Q2-a:  
Except for SVC is Jack:0 and Rose:0, all the predictions are Jack:0 and Rose:1 (actually all the results are the same as Titanic.ipynb)

- Q2-b:  
SVC for sure.

- Q2-c:  
Model Characteristics: The Support Vector Machine (SVM, SVC) algorithm constructs a hyperplane in a high-dimensional space to separate different classes. SVMs are effective in high-dimensional spaces and for cases where the number of dimensions exceeds the number of samples. However, they require appropriate preprocessing of the data, like scaling, as they are not scale invariant. Feature Scaling: SVC is sensitive to the scale of the data. Without appropriate scaling (e.g., standardization or normalization), features with larger ranges could dominate the decision-making process of the model, leading to biased predictions. If scaling was applied for other models or not required but neglected for SVC, it could explain the discrepancy.